<div>
<p>For those who don't want to come to Texas, don't worry - we're getting married in Denver, Colorado!</p>
<p><a href="https://www.townhallcollaborative.com/" target="_blank">Town Hall Collaborative</a> is where we will be
getting married.</p>
<div>
  525 Santa Fe Drive
  Denver, CO 8xxxx
</div>
<div>Winner of the Best of Denver 2023 ‘Best LGBTQ+ Safe Space and Bar’ as well as ‘Best All-Ages Club’ from Westword Magazine!</div>
<div>Town Hall Collaborative is a women-owned community gathering space that features a bar, events, live music, and a creative space for classes and artist studio rentals. Their social mission is rooted in supporting and empowering women and other underrepresented groups. </div>
<div>Santa Fe Dr. is a one-way northbound street. Southbound traffic will need to take Kalamath Street and turn left on 5th avenue, then left on Santa Fe to access the venue.</div>
<div>Beer, Wine and Cocktails are available, as well as coffee and mocktails.</div>



</div>
