<h1>The important stuff to know:</h1>
<div><h2>The basics:</h2>
<ul>
  <li>Saturday, October 28, 2023, 6:00 PM</li>
  <li>Town Hall Collaborative, 525 Santa Fe Dr, Denver, CO</li>
  <li></li>
</ul>
</div>
<div><h2>Agenda:</h2>
  <ul>
    <li>6:00 PM - doors open. Bar open. Food served.</li>
    <li>7:00 PM - the ceremony</li>
    <li>7:30 PM until midnight - drinks, dancing (if you dare), chat, and fun!</li>
  </ul>
</div>

<div>This is <strong>not</strong> a stuffy white wedding. It's a costume party! Wear your favorite costume.</div>

<div><h2>Venue policy:</h2>
  <p>Town Hall Collaborative is a welcoming space. There are rules established by the venue to keep it that way, but the short version is:</p>
<ul>
  <li>Don't make people feel uncomfortable</li>
  <li>Don't be a dick</li>
  <li>Don't be a sloppy drunk (wait, this one is our rule)</li>
</ul>
<p>Those that violate the rules of Town Hall Collaborative will be asked to leave the venue.</p>
<p>Smoking and vaping are only permitted on the patio with the doors closed.</p>
</div>

<div><h2>Marijuana policy</h2>
  The state of Colorado permits recreational use of Marijuana. If you choose to partake, you are responsible for following the
  rules of the state of Colorado as well as the rules of Town Hall Collaborative:
  <ul>
    <li>
      Marijuana can only be consumed by people age 21 or over. This will be strictly enforced.
    </li>
    <li>
      Smoking or vaping of any kind is only permitted on the patio with the doors closed. This includes tobacco products.
    </li>
    <li>
      For our airline industry friends, please remember transportation is a federally regulated industry.
    </li>
  </ul>
</div>
