<div id="wedding" class="content resizable draggable-window" data-window-icon="img/gift.png" data-window-name="Wedding" cdkDrag>
  <div class="control-box close-box">
      <a class="control-box-inner"></a>
  </div>
  <div class="control-box zoom-box">
      <div class="control-box-inner">
          <div class="zoom-box-inner"></div>
      </div>
  </div>
  <div class="control-box window-collapse">
      <div class="control-box-inner">
          <div class="window-collapse-inner" (click)="toggleCollapse();"></div>
      </div>
  </div>
  <h1 class="titlebar" cdkDragHandle><span>Gifts</span></h1>
  <div [ngClass]="this.windowVisible ? 'showMain' : 'hideMain'">
  <cdk-virtual-scroll-viewport scrollWindow itemSize="600" class="inner">
    <div class="icon">
      <img src="../../assets/img/gift.png" alt="Gifts" />
    </div>
<p>Look. We know almost everyone is traveling to the venue. We also know that we have a full house, with a fully equipped
  kitchen (Kevin insists on that) and more computers than we know what to do with. So we're making this easy.</p>
  <ul>
    <li>We're not registered at any store.</li>
    <li>We really don't need a fondue pot.</li>
  </ul>

  <p>Instead of the fondue pot, what we'd really like is your help toward something very meaninfgul to us...</p>
  <img src="../../../assets/honeymoon.png" class="danny" alt="The Honeymoon!">

  <h3>Where is the honeymoon?</h3>
  <p>Moorea, French Polynesia (airport code MOZ). Or, for those who don't know, it's Tahiti. Just a different island.</p>

  <p>Specifically, we're going to the
  <a href="https://www.hilton.com/en/hotels/pptmlhh-hilton-moorea-lagoon-resort-and-spa/" target="_blank">Hilton Moorea</a> for almost a week in an overwater bungalow. We don't plan
  to do anything but relax.</p>

  <p>Your gifts will be used toward trip expenses - airfare, hotels, and dogsitting.</p>

  <h3>How do I contribute my gift?</h3>
  <p>We have two ways to do this online:</p>
  <ul>
    <li><a href="https://paypal.me/kevinandaustin" target="_blank">PayPal</a></li>
    <li><a href="https://www.venmo.com/u/Kevin-And-Austin" target="_blank">Venmo</a></li>
  </ul>

  <p>Alternately, you are of course welcome to send a check, if you prefer.</p>
  <p>Please ensure that we know it's you giving the gift, so we can thank everyone appropriately.</p>
  </cdk-virtual-scroll-viewport>
</div>
</div>
