/* You can add global styles to this file, and also import other style files */
@import "./assets/css/platinum.css";
@import "./assets/css/scrollbar.css";
@import "./assets/css/chicago.css";

@font-face {
  font-family: carthage;
  src: url('./assets/carthage.ttf');
}

@font-face {
  font-family: charcoal;
  src: url('./assets/charcoal.ttf');
}

@font-face {
  font-family: finderskeepers;
  src: url('./assets/finderskeepers.ttf');
}

/* h3 with charcoal */
h3 {
  text-decoration: underline;
  font-size: 1em;
  font-family: charcoal;
}

/* Show and hide classes */

.showMain {
  display: block;
  min-height: 80px;
}

.hideMain {
  display: none;
  min-height: 0px;
  height: auto;
}

.textcenter {
  text-align:center;
}

.textright {
  text-align: right;
}

.icon, .passwordHelpBlock {
  font-family: 'Geneva', 'Arial', 'Helvetica';
  font-size: 9pt;
}

.icon-text {
  background: #fff;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 3px;
}

#icon-holder-trash {
  bottom: 0;
  right: 0;
  clear: both;
  float: right;
  margin: 1rem 0;
  position: absolute;
  text-align: center;

  width: 10em;
}

.icon img {
  display: block;
  height: 32px;
  margin: auto;
  width: 32px;
}

img.oscar  {
  display: block;
  height: 64px;
  margin: auto;
  width: 32px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
  background-color: #C7C8C1;
  font-family: charcoal;
  font-size: 15px;
}

container {
  position: relative;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-control {
  font-family: charcoal;
  font-size: 13px;
  border-color: #000;
  border-width: 1px;
  border-style: inset;
  box-shadow: -1px -1px 1px 1px rgba(42, 42, 42, 0.2);
}

.menu-bar-item {
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 34px;
  line-height: 26px;
  padding: 0 16px;
}

.menu-bar-item:hover {
  background-color: rgb(208, 208, 208);
}

.menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  padding: 6px 0;
}

.menu hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.12);
}

.menu {
  display: inline-flex;
  flex-direction: column;
}

.menu .menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.menu-item > span {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.menu .menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.menu .menu-item:active {
  background-color: rgb(170, 170, 170);
}

.menu-bar-item[aria-expanded='true'],
.menu-item[aria-expanded='true'] {
  background-color: rgb(208, 208, 208) !important;
}

ul .menu {
  box-shadow: 2px 2px 2px black;
}

.accordion .accordion-item {
  width: 100%;
}

.content ul {
  font-size: 13px;
}

.inner {
  font-size: 13px;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
  padding: 10px;
}

#boot, #errorwindow .inner
{
  font-family: 'Chicago';
}

.picasso-mac .inner {
  background-image: url(./assets/img/picasso.png);
}

/* Bootstrap accordion */

h2 .accordion-header .collapsed {
  margin-block-start: 0px;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  padding: 20;
  text-align: left;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;

  &:not(.collapsed) {
    box-shadow: inset 0 0 0 0;

    &::after {
      background-image: url(./assets/img/triangle_down.png);
    }
  }

  /* Accordion icon */
  &::after {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-left: auto;
    content: "";
    background-image: url(./assets/img/triangle.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    outline: 0;
  }
}

.accordion-header {
  margin-bottom: 0;
}

/* ngbAccordionbody - from bootstrap */

ngbAccordionBody

.accordion-item {
  border: 1px;
  border-color: #000;

  &:first-of-type {
    border-top-radius: 1px;

    .accordion-button {
      border-top-radius: 1px;
    }
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

 /* Only set a border-radius on the last item if the accordion is collapsed */
  &:last-of-type {
    border-bottom-radius: 1px;

    .accordion-button {
      &.collapsed {border-bottom-radius: 1px;}
    }
  }
}


/* Flush accordion items
//
 Remove borders and border-radius to keep accordion items edge-to-edge. */

.accordion-flush {
  .accordion-collapse {
    border-width: 0;
  }

  .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    &:first-child { border-top: 0; }
    &:last-child { border-bottom: 0; }

    .accordion-button {
      &,
      &.collapsed {
        border-radius: 0;
      }
    }
  }
}

.cdk-drag {
  z-index: 500;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

@media only screen and (min-width: 767px) {
	/* desktop and ipad layout */
  #wedding {
    width: 750px !important;
  }

  #wedding .inner {
    height: 500px;
  }

  .stack {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .centerbutton {
    text-align: center;
  }

  .loginAlert {
    width: 50%;
    z-index:100000;
  }

  .printButton {
    margin-top: 20px;
  }
}


@media only screen and (max-width: 767px) {
	/* mobile layout */

  div.content {
    width: 100%;
    padding: 0;
  }

  div.content .inner {
    overflow-x: auto;
    overflow-y: visible;
  }

	.align_left, .align_right, .align_center {
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}

  .loginAlert {
    width: 100%;
    z-index:100000;
  }

  table,
  tbody {
      display: block;
      width: 100%;
  }
  thead { display: none; }
  table tr,
  table th,
  table td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
  }
  table tr {
      border: 1px solid #000;
      padding-bottom: 11px;
      margin-bottom: 11px;
  }
  table th[data]:before,
  table td[data]:before {
      content: attr(data) ":\00A0";
      width: 100%;
  }
  table td {
      border: none;
      width: 100%;
      padding-bottom: 10px;
  }
  table td:empty { display: none; }
  table td:first-child {
      color: #333;
  }
  table td:first-child:before {
    content: '';
  }

  #wedding .inner {
    height: 85vh;
    width: 100%;
  }

  #icon-holder {
    display: none;
  }

  #icon-holder-trash {
    display: none;
  }

  .stack {
    width: 100%;
  }

  .danny {
    width: 75vw;
  }

  .centerbutton {
    text-align: left;
  }

  .textright {
    text-align: left;
  }

  .showMain {
    margin-right: 8px;
  }

  .printButton {
    margin-top: 10px;
  }

}

@media print {
  /* print page */
  header {
    display: none;
  }

  #wedding, #gallery, cdk-virtual-scroll-viewport {
    width: 100%;
    height: 100%;
  }

  .control-box {
    display: none;
  }

  #icon-holder {
    display: none;
  }

  #icon-holder-trash {
    display: none;
  }

  .icon {
    height: 100%;
  }

  .inner {
    border: none;
    height: 100%;
    overflow-y: visible !important;
  }

  ngbAccordion {
    display: inline;
  }

  ngbAccordionCollapse {
    display: inline-block;
  }

  ::ng-deep .ui-accordion-content-wrapper-overflown {
    display: block;
    overflow: visible;
    height: auto !important;
  }

  div.content {
    height: 100%;
  }

  cdk-virtual-scroll-viewport {
    contain: none !important;
    overflow: visible !important;
  }

  .collapse {
    display: block !important;
    height: auto !important;
  }

  .accordion-group .accordion-body.collapse {
    height: auto !important;
  }

  .printButton {
    display: none;
  }
}

/* carousel - global style because of ng-deep deprecation */
carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark].carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
  background-color: #000;
}
[data-bs-theme=dark] .carousel .carousel-caption, [data-bs-theme=dark].carousel .carousel-caption {
  color: #000;
}
