/* You can add global styles to this file, and also import other style files */
@import "./assets/css/platinum.css";
@import "./assets/css/scrollbar.css";

@font-face {
  font-family: ag;
  src: url('./assets/applegaramond.ttf');
}

@font-face {
  font-family: carthage;
  src: url('./assets/carthage.ttf');
}

@font-face {
  font-family: charcoal;
  src: url('./assets/charcoal.ttf');
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
  background-color: #C7C8C1;
  font-family: charcoal;
  font-size: 15px;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.appleg {
  font-family: ag;
}

.form-control {
  font-family: charcoal;
  font-size: 15px;
  border-color: #000;
  border-width: 1px;
  border-style: inset;
  box-shadow: -1px -1px 1px 1px rgba(42, 42, 42, 0.2);
}

ul .menu {
  box-shadow: 2px 2px 2px black;
}

.accordion .accordion-item {
  width: 100%;
}

/* Bootstrap accordion */

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20;
  text-align: left;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;

  &:not(.collapsed) {
    color: var(--#{$prefix}accordion-active-color);
    background-color: var(--#{$prefix}accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--#{$prefix}accordion-border-width)) 0 var(--#{$prefix}accordion-border-color); // stylelint-disable-line function-disallowed-list

    &::after {
      background-image: var(--#{$prefix}accordion-btn-active-icon);
      transform: var(--#{$prefix}accordion-btn-icon-transform);
    }
  }

  // Accordion icon
  &::after {
    flex-shrink: 0;
    width: var(--#{$prefix}accordion-btn-icon-width);
    height: var(--#{$prefix}accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--#{$prefix}accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--#{$prefix}accordion-btn-icon-width);
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    outline: 0;
  }
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--#{$prefix}accordion-color);
  background-color: var(--#{$prefix}accordion-bg);
  border: var(--#{$prefix}accordion-border-width) solid var(--#{$prefix}accordion-border-color);

  &:first-of-type {
    @include border-top-radius(var(--#{$prefix}accordion-border-radius));

    .accordion-button {
      @include border-top-radius(var(--#{$prefix}accordion-inner-border-radius));
    }
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));

    .accordion-button {
      &.collapsed {
        @include border-bottom-radius(var(--#{$prefix}accordion-inner-border-radius));
      }
    }

    .accordion-collapse {
      @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));
    }
  }
}

.accordion-body {
  padding: var(--#{$prefix}accordion-body-padding-y) var(--#{$prefix}accordion-body-padding-x);
}


/* Flush accordion items
//
 Remove borders and border-radius to keep accordion items edge-to-edge. */

.accordion-flush {
  .accordion-collapse {
    border-width: 0;
  }

  .accordion-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);

    &:first-child { border-top: 0; }
    &:last-child { border-bottom: 0; }

    .accordion-button {
      &,
      &.collapsed {
        @include border-radius(0);
      }
    }
  }
}

@media only screen and (min-width: 800px) {
	/* desktop and ipad layout */
  #wedding {
    width: 765px !important;
  }
}


@media only screen and (max-width: 767px) {
	/* mobile layout */

  div .content {
    width: 100%;
    padding: 0;
  }

  div.content .inner {
    overflow-x: auto;
    overflow-y: auto;
  }

	.align_left, .align_right, .align_center {
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}

  table,
  tbody {
      display: block;
      width: 100%;
  }
  thead { display: none; }
  table tr,
  table th,
  table td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
  }
  table tr {
      border: 1px solid #000;
      padding-bottom: 11px;
      margin-bottom: 11px;
  }
  table th[data]:before,
  table td[data]:before {
      content: attr(data) ":\00A0";
  }
  table td {
      border: none;
  }
  table td:empty { display: none; }
  table td:first-child {
      color: #333;
  }
  table td:first-child:before {
    content: '';
  }
}
