<div id="wedding" class="content resizable draggable-window" data-window-icon="img/about.png" data-window-name="Wedding" cdkDrag>
  <div class="control-box close-box">
      <a class="control-box-inner"></a>
  </div>
  <div class="control-box zoom-box">
      <div class="control-box-inner">
          <div class="zoom-box-inner"></div>
      </div>
  </div>
  <div class="control-box window-collapse">
      <div class="control-box-inner">
          <div class="window-collapse-inner" (click)="toggleCollapse();"></div>
      </div>
  </div>
  <h1 class="titlebar" cdkDragHandle><span>Welcome to our wedding</span></h1>
  <div [ngClass]="this.windowVisible ? 'showMain' : 'hideMain'">
  <cdk-virtual-scroll-viewport scrollWindow itemSize="0" class="inner">
    <div class="icon">
      <img src="../../assets/img/about.png" alt="About" />
    </div>
    <div class="textcenter">
        <img src="../../assets/kevin_austin.jpeg" class="danny" />
      </div>
        <p>Saturday, October 28, 2023 - 6:00 PM - Town Hall Collaborative, Denver, CO</p>

        <div ngbAccordion #accordion="ngbAccordion" [destroyOnHide]="false">
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="green">
                <span>Where and when is it?</span>
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <ul>
                    <li>Saturday, October 28, 2023, 6:00 PM</li>
                    <li>Town Hall Collaborative, 525 Santa Fe Dr, Denver, CO</li>
                  </ul>
                  <h3>Agenda:</h3>
                    <ul>
                      <li>6:00 PM - doors open. Bar open. Pizza and your first tasty beverage are complimentary.</li>
                      <li>7:00 PM - the ceremony</li>
                      <li>7:30 PM until midnight - drinks, dancing (if you dare), chat, and fun!</li>
                    </ul>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="yellow">What should I wear?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>This is <strong>not</strong> a white wedding - because it's after labor day, and neither of us look good in white.</p>
                  <p><u>This is a costume party!</u></p>
                  <p>Wear your favorite costume. Or an easy costume. Or a suit.
                    Or a hawaiian shirt and shorts. We're good either way!</p>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="orange">What should I bring?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>Bring yourself. Bring your plus one. Or two. Just as long as we know how many people are coming so
                    that we have enough pizza. Yes, we're catering pizza. Why not?
                  </p>
                  <p>For gifts, please see our <a routerLink="/wedding/gifts">Gifts</a> page.</p>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="red">Where should I stay?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>Somewhere in the Denver metropolitan area. We don't have a room block anywhere.
                  </p>
                  <div>
                  <p>The nearest hotels are:</p>
                  <ul>
                    <li>
                      <p>Townplace Suites by Marriott Denver Downtown<br/>
                        685 Speer Blvd<br/>
                        Denver, CO 80204</p>
                    </li>
                    <li>
                      <p>The ART Hotel Denver, Curio Collection by Hilton<br/>
                        1201 N Broadway<br/>
                        Denver, CO  80203</p>
                    </li>
                  </ul>
                </div>
                <p>There are numerous other hotels nearby in downtown Denver that can be booked.</p>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="purple">Who is officiating?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>I'm glad you asked. We have joined the First Southern Fried, Self-Satisfied Babaptist church, and our
                    spiritual advisor, Sister Helen Holy, will be officiating. She has more information on the
                    <a routerLink="/wedding/officiant">Officiant</a> page.
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="blue">It's Colorado and I live in Texas. Can I consume marijuana?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>The state of Colorado permits recreational use of Marijuana. If you choose to partake, you are responsible for following the
                  rules of the state of Colorado as well as the rules of Town Hall Collaborative:</p>
                  <ul>
                    <li>
                      Marijuana can only be consumed by people age 21 or over. This will be strictly enforced.
                    </li>
                    <li>
                      Smoking or vaping of any kind is only permitted on the patio with the doors closed. This includes tobacco products.
                    </li>
                    <li>
                      For our airline industry friends, please remember transportation is a federally regulated industry.
                    </li>
                  </ul>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="platinum">We're totally down for attending. How do we RSVP?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>It's a little late, since the wedding has already happened.</p>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton class="platinum">I'm not interested in fun and won't be coming. Should I say so?</button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <p>You were missed.
                  </p>
                  <p>Feel free to leave us a <a routerlink="/wedding/gifts">gift</a> though!</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <button (click)="accordion.expandAll();this.printWindow();" class="printButton centerButton">Print this page</button>
  <!-- </div> -->
</cdk-virtual-scroll-viewport>
</div>
</div>
