<div id="wedding" class="content resizable draggable-window" data-window-icon="../../assets/img/mac.png" data-window-name="Wedding" cdkDrag>
  <div class="control-box close-box">
      <a class="control-box-inner"></a>
  </div>
  <div class="control-box zoom-box">
      <div class="control-box-inner">
          <div class="zoom-box-inner"></div>
      </div>
  </div>
  <div class="control-box window-collapse">
      <div class="control-box-inner">
          <div class="window-collapse-inner" (click)="toggleCollapse();"></div>
      </div>
  </div>
  <h1 class="titlebar" cdkDragHandle><span>About</span></h1>
  <div [ngClass]="this.windowVisible ? 'showMain' : 'hideMain'">
  <cdk-virtual-scroll-viewport scrollWindow itemSize="600" class="inner">
    <div class="icon">
      <img src="../../assets/img/mac.png" alt="Macintosh Computer" />
  </div>
          <ul>
              <li style="text-align: left;">
                  <h1>About</h1>
                  <p>
                      This site is written by Kevin Trinkle in Angular 15, using .NET 6 and Postgresql. It is hosted using
                      Microsoft Azure, using the CDN, Web App and Flexible Server for Postgres.
                  </p>
                  <p>
                    Utilizing portions of <b><a href="https://github.com/robbiebyrd/platinum" target="_blank">Platinum</a></b>
                    by <b><a href="https://github.com/robbiebyrd/" target="_blank">Robbie Byrd</a></b>.
                  </p>
                  <p>
                      Based on
                      <b><a href="https://github.com/npjg/classic.css" target="_blank">New Dawn</a></b>
                      by
                      <b><a href="https://github.com/npjg" target="_blank">Nathanael Gentry</a></b>.
                  </p>
                  <p>
                      Based on
                      <b><a href="https://github.com/ticky/classic-scrollbars" target="_blank">Scrollbars of the Classic Mac OS</a></b>
                      by
                      <b><a href="https://github.com/ticky" target="_blank">Jessica Stokes (@ticky)</a></b>.
                  </p>
                  <p>Oscar The Grouch graphics from
                    <b><a href="https://github.com/charlierobin/oscar-the-grouch-version-1" target="_blank">
                      The Grouch for macOS
                    </a></b> by <b><a href="https://github.com/charlierobin" target="_blank">
                      Charlie Robin (@charlierobin)
                    </a></b>
                  </p>
                  <p>Oscar The Grouch is a trademark of Sesame Workshop.</p>
                  <p>Animal, Beaker, Kermit The Frog, and The Swedish Chef are trademarks of Muppet Studios, a part of the Walt Disney Company.</p>
                  <hr />
                  <p><b>New Dawn</b> and <b>Platinum</b> License</p>
                  <p>
                      MIT License <br />
                      Copyright (c) 2019 Nathanael Gentry
                      <br />
                      <br />
                      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without
                      limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following
                      conditions:
                  </p>
                  <p>
                      The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
                      <br />
                      <br />
                      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
                      EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
                      THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                  </p>
                  <p>
                    Version 1.5 - 2023-09
                  </p>
              </li>
          </ul>
  </cdk-virtual-scroll-viewport>
</div>
</div>
