<h1>Sister Helen Holy</h1>
<div>
  <p><a href="http://www.pauljwilliams.com/about-sister-helen-holy/" target="_blank">Sister Helen Holy</a> has graciously agreed to serve as officiant.</p>
<p>Sister is head of the 701 club, because she's just a little bit better than that other person. She is known
  for her pithy opinions and insistence on long hours of prayer, on your knees. Often found ministering on
  the high seas (to expand the ministry), Sister has become a well known figure in the Dallas entertainment scene.
</p>
<p>We are thrilled that Sister Helen Holy is available for our needs and can't wait for you to see the ministry.</p>
</div>
