<h1>Welcome to our wedding</h1>
<div><img src="../../assets/Danny.png"/></div>
<div>
<div>Austin and Kevin are getting married! We just need some information before we can give you our information.</div>
<div class="bd-example-snippet">
<form [formGroup]="loginForm" (ngSubmit)="submitLogin()" *ngIf="!this.isLoggedIn()">
<div class="mb-3" *ngIf="this.loginError">We could not find an email address for you, or the city was wrong. Please try again.</div>
<div class="mb-3">
  <label for="emailAddress" class="form-label">Your email address:</label>
  <input type="email" id="emailAddress" name="emailAddress" formControlName="emailAddress" class="form-control" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="password" class="form-label">What city are Austin and Kevin getting married in?</label>
  <input id="password" name="password" formControlName="password" type="password" class="form-control" aria-labelledby="passwordHelpBlock">
  <div id="passwordHelpBlock" class="form-text">
    Enter the city name. Don't enter the state name or airport code.
  </div>
</div>
<button type="submit" class="btn btn-primary">Primary</button>
</form>
<div *ngIf="this.isLoggedIn()">Please go to the menu for information about our wedding.</div>
</div>
  </div>
