<div id="wedding" class="content resizable" data-window-icon="img/news.png" data-window-name="Wedding" cdkDrag>
  <div class="control-box close-box">
      <a class="control-box-inner"></a>
  </div>
  <div class="control-box zoom-box">
      <div class="control-box-inner">
          <div class="zoom-box-inner"></div>
      </div>
  </div>
  <div class="control-box window-collapse">
      <div class="control-box-inner">
          <div class="window-collapse-inner"></div>
      </div>
  </div>
  <div cdkDragHandle>
  <h1 class="titlebar"><span>Austin and Kevin</span></h1></div>
  <div class="inner">
      <div class="icon">
          <img src="../../assets/img/about.png" alt="About" />
      </div>
            <div style="text-align:center;">
              <img src="../../assets/Danny.png"/>
            </div>
            <p>Austin and Kevin are getting married! We just need some information before we can give you our information.</p>
            <hr>
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" *ngIf="!this.isLoggedIn()">
              <div class="mb-3" *ngIf="this.loginError">We could not find an email address for you, or the city was wrong. Please try again.</div>
              <div class="mb-3">
                <label for="emailAddress" class="form-label">Your email address:</label>
                <input type="email" id="emailAddress" name="emailAddress" formControlName="emailAddress" class="form-control" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">What city are Austin and Kevin getting married in?</label>
                <input id="password" name="password" formControlName="password" type="password" class="form-control" aria-labelledby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                  Enter the city name. Don't enter the state name or airport code.
                </div>
              </div>
              <button type="submit" class="command_button boot-button">Log In!</button>
            </form>
            <div *ngIf="this.isLoggedIn()">Please go to the menu for information about our wedding.</div>
  </div>
</div>
