<h1>Welcome to our wedding</h1>
<div><img src="../../assets/Danny.png"/></div>
<div>
<div>Austin and Kevin are getting married!</div>
<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <div>
  <label for="emailAddress">Your email address:</label>
  <input
    id="emailAddress"
    name="emailAddress"
    formControlName="emailAddress"
    type="text"
  />
</div>
<div>
  <label for="password">What city are Austin and Kevin getting married in? (City name, no state, not the airport code)</label>
  <input
    id="password"
    name="password"
    formControlName="password"
    type="password"
  />
</div>
<button mat-button mat-accent type="submit" class="contbtnredlabel">
  Login!
</button>
</form>
  </div>
