<div id="boot" class="modal" *ngIf="!this.bootStatus">
<div id="errorWindow" class="alert picasso-mac content noscroll text-center" *ngIf="!this.bootStatus" >
  <div class="inner">
      <p style="font-weight: normal;">Welcome to Macintosh.</p>
      <br />
      <br />
      <button class="command_button right-button close-button" (click)="changeBoot();">
        Start the computer
    </button>
  </div>
</div>
</div>
<app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  <div id="icon-holder" title="MacintoshHD" cdkDrag>
    <div class="icon draggable-icon ui-widget-content" id="icon-drive">
        <img src="../assets/img/harddrive.png" alt="Macintosh HD" />
        <span class="icon-text">Macintosh HD</span>
    </div>
  </div>
  <div id="icon-holder-trash" title="Trash" cdkDrag>
    <div class="icon draggable-icon ui-widget-content" id="icon-trash">
        <img src="../assets/img/trashf.png" alt="Trash" *ngIf="!this.oscarActive && this.trashfull"/>
        <img src="../assets/img/trash.png" alt="Trash" *ngIf="!this.oscarActive && !this.trashfull"/>
        <img src="../assets/img/oscar.png" alt="Trash" class="oscar" *ngIf="this.oscarActive"/>
        <span class="icon-text">Trash</span>
    </div>
  </div>
</div>
