th {
  font-weight: normal;
  text-decoration: underline;
}

.classic-mac-checkbox {
  cursor: pointer;
}

.classic-mac-checkbox input[type="checkbox"] {
  visibility:hidden;
}

.classic-mac-checkbox input + label {
    display: inline-block;
    width: 60px;
    height: 24px;
    cursor: pointer;
    background-image: url(../../../assets/img/checkbox.png);
    background-repeat: no-repeat;
    background-size: 20px 18px;
    background-position-x: left;
    padding-left: 24px;
  }

.classic-mac-checkbox input[type="checkbox"]:checked + label {
      background-image: url(../../../assets/img/checkbox-checked.png);
      background-repeat: no-repeat;
      background-size: 20px 18px;
      background-position-x: left;
  }

    /* select menu */
  select {
    border: 1.5px solid;
    height: auto;
    width: 11rem;
    font-family: charcoal;
    font-size: 13px;
    background-image: url('../../../assets/img/triangle_down.png');
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    background-color: #dedede;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding-left: 10px;
    -webkit-box-shadow: 2px 8px 0 0px var(--secondary);
    -moz-box-shadow: 2px 8px 0 0px var(--secondary);
    box-shadow: 2px 2px 0 -1px;
  }
