<div id="wedding" class="content resizable draggable-window" data-window-icon="img/phone.png" data-window-name="Wedding" cdkDrag>
  <div class="control-box close-box">
      <a class="control-box-inner"></a>
  </div>
  <div class="control-box zoom-box">
      <div class="control-box-inner">
          <div class="zoom-box-inner"></div>
      </div>
  </div>
  <div class="control-box window-collapse">
      <div class="control-box-inner">
          <div class="window-collapse-inner" (click)="toggleCollapse();"></div>
      </div>
  </div>
  <h1 class="titlebar" cdkDragHandle><span>RSVP</span></h1>
  <div [ngClass]="this.windowVisible ? 'showMain' : 'hideMain'">
  <cdk-virtual-scroll-viewport scrollWindow itemSize="600" class="inner">
    <div class="icon">
      <img src="../../assets/img/phone.png" alt="News" />
    </div>
    <ul>
      <li style="text-align: left;">
<p>Here are the people we have in your party.
  <span *ngIf="!this.disableForm">Please let us know by October 14th if you are attending!</span>
  <span *ngIf="this.disableForm">We are past the RSVP deadline, so please let us know directly if something changes.</span>
</p>
<div class="container border bg-white">
<form [formGroup]="weddingArray">
<div class="table-responsive">
<table class="table table-striped">
<thead>
  <th></th>
  <th>Name (first and last)</th>
  <th>Are they attending?</th>
  <th>What type of free drink?</th>
  <th>Any comments? (Dietary restrictions, etc)</th>
</thead>
<tbody formArrayName="partyMembers">
  <tr *ngFor="let member of getPartyMembers(weddingArray); let i = index" [formGroupName]="i">
    <td>
      <img *ngIf="i>0" src="../../../assets/img/trash.png" width="16px" (click)="this.removePartyMember(i);">
    </td>
    <td data="Full name">
      <input type="text" class="form-control" formControlName="groupMemberName" name="groupMemberName" id="member{{i}}" value="{{member.value.groupMemberName}}" (blur)="saveRsvp(i)">
    </td>
    <td>
      <div class="classic-mac-checkbox">
        <input type="checkbox" id="rsvpYes{{i}}" formControlName="rsvpYes" value="{{member.value.rsvpYes}}" (change)="saveRsvp(i)">
        <label for="rsvpYes{{i}}">Attending</label>
      </div>
    </td>
    <td data="What type of free drink do they want?">
        <select id="drinkType{{i}}" formControlName="rsvpDrinkType" (change)="saveRsvp(i)">
            <option value='' disabled selected></option>
            <option *ngFor="let drinkType of drinkTypes; let d = index" [value]="d"> {{drinkType}}
            </option>
          </select>
    </td>
    <td data="Any comments? (Dietary restrictions, etc)">
      <input type="text" class="form-control" formControlName="rsvpComment" name="rsvpComment" id="rsvpComment{{i}}" value="{{member.value.rsvpComment}}" (blur)="saveRsvp(i)">
    </td>
    </tr>
    <tr><td colspan="5">
      <div class="centerbutton">
        <button class="command_button boot-button" [disabled]="this.disableForm" (click)="this.addPartyMember()">Add new party member</button>
      </div></td></tr>
</tbody>
</table>
</div>
</form>
</div>
</li>
</ul>
</cdk-virtual-scroll-viewport>
</div>
</div>
